body {
 background-color: rgb(212, 214, 190); 
width: 100%;
border:double;
border-color:indianred;
border-width: 10px;
 
}
h1 {
    border: double;
    border-color: rgb(113, 196, 230);
    padding: 10px;
    text-align: center;
    background-color: orange;
    
}
h1#simple {
    border: double;
    border-color: rgb(113, 196, 230);
    padding: 10px;
    text-align: center;
    background-color:rgb(158, 56, 134);
    
}
h2 {
    border: solid;
    border-color: rgb(113, 196, 230);
    padding: 10px;
    text-align: center;
    background-color:darkgoldenrod;
  
}
h2#years {
    border: solid;
    border-color: rgb(113, 196, 230);
    padding: 10px;
    text-align: center;
    background-color:rgb(146, 120, 56);
  
}
h3 {
    border: solid;
    border-color: rgb(113, 196, 230);
    padding: 10px;
    text-align: center;
    background-color: rgb(167, 167, 85);
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}
p#giant {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
    color: rgb(169, 80, 45);
    font-weight: bold;
      
}
p#object {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
    color: rgb(182, 105, 170);
    font-weight: bold;
}
p#demo5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    text-align: center;
    color: rgb(45, 80, 169);
    font-weight: bold;
}
button {
    display: block;
    margin: auto;
    padding: 10px;
    font-size: 20px;
    background-color: lightblue;
    border-radius: 12px;
    cursor: pointer;
    text-align: center;
}
button#greetBtn, button#sumBtn {
    background-color: lightgreen;
}
